# Dependencies
node_modules/

# Package manager
.pnpm-store/

# Build output
dist/
build/
coverage/

# Turbo
.turbo/

# TypeScript
*.tsbuildinfo

# Logs
*.log

# Environment
.env
.env.*
!.env.example

# Prisma
prisma/dev.db
prisma/dev.db-journal

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store